/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
public/uploads/product/thumbnail/
public/uploads/product/
*.env
*.project
*.settings
*.buildpath
resources/assets/compass/sass/.sass-cache
storage/debugbar/
*.scssc
public/css/style.css
public/css/style.css.map
public/uploads/images/program/logoImage/
public/uploads/images/program/mainImage/
public/uploads/images/program/vodImage/
*.mp4
