# Basic認証 (pswdファイルは上層に置くべき)
# AuthUserFile /Applications/MAMP/htdocs/eclipse/eccube3_plugin_test/html/.htpasswd
# AuthGroupFile /dev/null
# AuthName "Please enter your ID and password"
# AuthType Basic
# require valid-user

# 評価順 deny > allow
order deny,allow
allow from all
<IfModule mod_rewrite.c>
# indexへリダイレクト
#    RewriteEngine On
#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteCond %{REQUEST_FILENAME} !^(.*)\.(gif|png|jpg|css|ico|js)$ [NC]
#    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

# 404個別ページ表示
ErrorDocument 404 /htaccess/404_not_found.php

# apacheが認識していない拡張子などを登録しておくことで、悪意のあるダウンロードを防ぐ
AddType application/x-httpd-php .inc

# 各種 php.ini設定 ディレクトリ個別変更
php_flag register_globals Off
php_flag magic_quotes_gpc Off

# エラー関連
php_flag display_errors ON
php_flag log_errors ON
php_value log_errors /htaccess/log/php_error.log

# セッション関連
php_flag session.use_trans_sid Off
php_flag session.use_cookies On
php_flag session.use_only_cookies Off
php_flag session.auto_start ON
php_value session.cache_limiter None

# 文字コード関連
php_value default_charset UTF-8
php_value mbstring.internal_encoding UTF-8
php_value mbstring.language Japanese
php_value mbstring.input_encoding Pass
php_value mbstring.output_encoding Pass
php_value mbstring.substitute_character None

# セキュリティ関連

# レスポンスヘッダにPHPのバージョン情報などが露呈されるのを回避
php_flag expose_php Off

# セッションID発行のハッシュアルゴリズムをSHA-1(160bit)へ変更, 0だとMD5(128bit)
php_value session.hash_function 1

# 生成されたハッシュを32桁にする
php_value session.hash_bits_per_character 5

# phpプログラムの最大実行時間(タイムアウトまでの時間)(単位は秒) これも大きなファイルアップロードや大きいバッチ処理がある場合はプログラム側のini_set()などで随時設定する
php_value max_execution_time 60

# ファイルアップロードを時の、最大ファイル受付サイズ(1ファイル毎)
php_value upload_max_filesize 10M

# POSTのリクエストを受け付ける際の、最大のPOSTリクエストサイズを設定
php_value post_max_size 10M

# PHPの1プロセスが利用可能なメモリー容量の設定
php_value memory_limit 32M

# その他
php_flag short_open_tag Off
